<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名练习-计算属性实现</title>
    <script src="./tools/vue.js"></script>
    <!-- 
        计算属性：
            - 定义：要用的属性不存在，要通过已有属性计算得来
            - 原理：底层借助了Object.defineProperty方法提供的getter和setter
            - get函数什么时候执行：
                - 1. 初次读取时会执行一次
                - 2. 当依赖的数据发生改变时会被再次调用
            - 优势：
                - 与methods实现相比，内部有缓存机制（复用），效率更高，调试方便
            - 备注：
                - 计算属性最终会出现在vm上，直接读取使用即可
                - 如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生变化
     -->
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            computed: { // 计算属性
                // 完整写法
                /* fullName: {
                    // get被调用的场景：1.初次读取fullName时 2.所依赖的数据发生变化时
                    get() {
                        // console.log(this) // 此处的this是vm
                        return this.firstName + '-' + this.lastName
                    },
                    set(value) {
                        // console.log(this) // 此处的this是vm
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                } */
                // 一般情况下，计算属性只需要被读取，而不需要被修改，此时就可以简写成如下形式（没有setter）
                fullName() {
                    return this.firstName + '-' + this.lastName
                }
            }
        })

    </script>
</body>

</html>